body {
    font-family: Arial, sans-serif;
    background-color: #f0f9ff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #007BFF;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 10px;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details ul li {
    background: #e7f5ff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}